:root{
    --Yellow: hsl(52, 100%, 56%);
    --Blue: hsl(203, 85%, 41%);
    --LightBlue: hsl(330, 100%, 73%);
    --Green: hsl(168, 75%, 36%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--Yellow);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;

    background-color: var(--Blue);
    img {
        height: 30vh;
        width: auto;
    }
}

.blue-container {
    display: flex;
    flex-direction: column;
    background-color: var(--Blue);
    margin: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 0.2rem solid black;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem;

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: var(--Green);
        border: 0.2rem solid black;
        width: 100%;
        height: auto;
        border-radius: 1rem;
        padding: 1rem;
    }
    
    label {
        font-weight: 700;
        color: var(--Yellow);
    }
    
    .form-row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    input,button,select {
        border-radius: 0.6rem;
        padding: 0.3rem;
        border: 0.15rem solid black;
        width: 100%;
        box-sizing: border-box; 
        color: black;
    }

    button {
        background-color: var(--Yellow);
    }
}

.character-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;   
    background-color: var(--LightBlue);
    border-radius: 1rem;
    border: 0.2rem solid black;
    padding: 1rem;

    img {
        height: 100%;
        width: auto;
    }

    .image-container-character {
        height: 100%;
        width: auto;
        padding: 1rem;
        margin: 1rem;
        background-color: white;
        border: 0.2rem solid black;
        border-radius: 1rem;
    }

    .text-container-character {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        margin: 1rem;
    }

    p {
        font-weight: 400;
        color: black;
    }

    h2 {
        font-weight: 700;
        color: var(--Yellow);
    }
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;   
    font-size: 0.7rem;
    color: var(--Blue)
}

/* Hovers */

.random-character-btn:hover {
    background-image: linear-gradient(to left, hsl(330, 100%, 73%), hsl(191, 99%, 40%));
    color: white;
    box-shadow: 0rem 0.5rem 0.5rem hsla(196, 8%, 28%, 0.5);
}

h2:hover {
    color:hsl(203, 85%, 41%);
}

p:hover {
    color: white;
}